.conactForm {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.conactFormLabel {
    font-size: 20px;
}

.conactFormItem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
    border-radius: 6px;
}
.contactFormBtn {
    display: block;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(#302f32, #91e6f7e9, #302f32);
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}   

.contactFormBtn:hover,
.contactFormBtn:focus {
    background: linear-gradient(#302f32, #b319d9e9, #302f32);
    transform: scale(1.2);
}